*.[oa]
*~
build/
*.vscode
Third_party/SOFTSUSY
Third_party/2HDMC
Third_party/MARTY
Test/build
Test/output.lha
Test/spectrum.slha
Test/thdm_spectrum.lha
Test/*.png
CMakeFiles
Makefile
CMakeCache.txt
superiso_v4.1/
cmake_install.cmake
output.slha
hyperiso
Docs/html
Docs/latex
test.py
superiso_v4.1.zip
DataBase/MartyWilson
*/__pycache__
logs/
trash/
DataBase/lha/*
DataBase/Params/*
__pycache__/
Python/phyperiso/
Assets/MartyTemp/*
GHyperiso/.next
GHyperiso/node_modules