*.[oa]
*~
build/
*.vscode
ExternalIntegration/SOFTSUSY
ExternalIntegration/2HDMC
Test/output.lha
Test/spectrum.slha

CMakeFiles
Makefile
CMakeCache.txt
superiso_v4.1/
cmake_install.cmake
output.slha
test
hyperiso
app
