*.[oa]
*~
build/
*.vscode
ExternalIntegration/SOFTSUSY
ExternalIntegration/2HDMC
ExternalIntegration/MARTY
Test/build
Test/output.lha
Test/spectrum.slha
Test/thdm_spectrum.lha
Test/*.png
CMakeFiles
Makefile
CMakeCache.txt
superiso_v4.1/
cmake_install.cmake
output.slha
test
hyperiso
app
Docs/html
Docs/latex